### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(df.SN.unique())
player_count_df = pd.DataFrame(data=[player_count],columns=['Total Number of Player'])
print(player_count_df)

   Total Number of Player
0                     576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# number of unique items
number_item = len(df["Item Name"].value_counts())

# average purchase price
avg_price = df['Price'].mean()

# total number of purchases
total_purchase =len(df['Price'])

# total revenue
total_revenue = df['Price'].sum()

# combining data set, transpose, rename
df_1 = pd.DataFrame(data=[number_item, avg_price, total_purchase, total_revenue ])
df_1 = df_1.transpose()

df_1.rename(columns={0: 'Number of Unique Items',
                      1: 'Average Purchase Price',
                      2: 'Total Number of Purchase',
                      3: 'Total Revenue'},inplace=True)
df_1 = df_1.style.format({'Average Purchase Price': '$ {:,.1f}','Total Revenue': '{:,.1f}'})
df_1

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
# grouping
sn = df.groupby(by='SN')
gender_count = sn['Gender'].max().value_counts()

# male
male_count = gender_count['Male']
male_percent = male_count/player_count*100

# female
female_count = gender_count['Female']
female_percent = female_count/player_count*100

# other/non-disclosed
other_count = gender_count['Other / Non-Disclosed']
other_percent = other_count/player_count*100

# combining
gender_df = pd.DataFrame([[male_count, male_percent], [female_count, female_percent], [other_count, other_percent]],index=['Male','Female','Other/Non-Disclosed'],columns=['Count','Percent'])
gender_df = gender_df.style.format({'Percent': '{:,.1f}%'})
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
male_only_df = df[df['Gender']=='Male']
female_only_df = df[df['Gender']=='Female']
other_only_df = df[df['Gender']=='Other / Non-Disclosed']

# Total Purchases
male_purchase_count = len(male_only_df['Price'])
female_purchase_count = len(female_only_df['Price'])
other_purchase_count = len(other_only_df['Price'])

# Average Purchase Price
male_avg_price = male_only_df['Price'].mean()
female_avg_price = female_only_df['Price'].mean()
other_avg_price = other_only_df['Price'].mean()

# Total Purchase Value
male_total_purchase = male_only_df['Price'].sum()
female_total_purchase = female_only_df['Price'].sum()
other_total_purchase = other_only_df['Price'].sum()

# Normalized Totals
male_avg_price_norm = male_total_purchase/male_count
female_avg_price_norm = female_total_purchase/female_count
other_avg_price_norm = other_total_purchase/other_count

# Compiling analysis into a single table
df_2 = pd.DataFrame([[male_purchase_count, male_avg_price, male_total_purchase, male_avg_price_norm],
                             [female_purchase_count, female_avg_price, female_total_purchase, female_avg_price_norm],
                             [other_purchase_count, other_avg_price, other_total_purchase, other_avg_price_norm]],
                             index=['Male','Female','Other/Non-Disclosed'],
                             columns=['Purchase Count','Average Purchase Price','Total Revenue','Normalized Price'])
df_2 = df_2.style.format({'Average Purchase Price': '$ {:,.2f}','Total Revenue': '$ {:,.2f}','Normalized Price': '$ {:,.2f}'})
df_2

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

AttributeError: 'int' object has no attribute 'value_counts'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# hard part;

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
# Find and sort by total revenue
df_group_name = df.groupby(by='SN')
df_by_spending = pd.DataFrame(df_group_name['Price'].sum().sort_values(ascending=False))
df_by_spending.rename(columns={'Price':'Total Revenue'},inplace=True)
df_by_spending.reset_index(inplace=True)

# Find purchase count of top five
first_spender_purchase_count = df_group_name['Price'].count()[df_by_spending['SN'][0]]
second_spender_purchase_count = df_group_name['Price'].count()[df_by_spending['SN'][1]]
third_spender_purchase_count = df_group_name['Price'].count()[df_by_spending['SN'][2]]
fourth_spender_purchase_count = df_group_name['Price'].count()[df_by_spending['SN'][3]]
fifth_spender_purchase_count = df_group_name['Price'].count()[df_by_spending['SN'][4]]

# Find Average purchase price of top five
first_spender_avg_purchase = df_group_name['Price'].mean()[df_by_spending['SN'][0]]
second_spender_avg_purchase = df_group_name['Price'].mean()[df_by_spending['SN'][1]]
third_spender_avg_purchase = df_group_name['Price'].mean()[df_by_spending['SN'][2]]
fourth_spender_avg_purchase = df_group_name['Price'].mean()[df_by_spending['SN'][3]]
fifth_spender_avg_purchase = df_group_name['Price'].mean()[df_by_spending['SN'][4]]

# Compiling analysis into a single table
top_spenders_df = pd.DataFrame(df_by_spending[:5])
top_spenders_df['Purchase Count'] = [first_spender_purchase_count,
                                    second_spender_purchase_count,
                                    third_spender_purchase_count,
                                    fourth_spender_purchase_count,
                                    fifth_spender_purchase_count]
top_spenders_df['Average Purchase Price'] = [first_spender_avg_purchase,
                                            second_spender_avg_purchase,
                                            third_spender_avg_purchase,
                                            fourth_spender_avg_purchase,
                                            fifth_spender_avg_purchase]
top_spenders_df = top_spenders_df.style.format({'Average Purchase Price': '$ {:,.2f}','Total Revenue': '$ {:,.2f}'})
top_spenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
df_group_itemname = df.groupby(by='Item Name')
df_by_pop_items = pd.DataFrame(df_group_itemname['Price'].count().sort_values(ascending=False))
df_by_pop_items.rename(columns={'Price':'Purchase Count'},inplace=True)
df_by_pop_items.reset_index(inplace=True)

# Find Item IDs and Price
most_pop_itemNames = df_by_pop_items['Item Name'][0:5]
most_pop_itemIDs = list()
most_pop_itemPrice = list()
for item in most_pop_itemNames:
    for item_iter in range(len(df['Item Name'])):
        if df['Item Name'][item_iter]==item:
            most_pop_itemIDs.append(df['Item ID'][item_iter])
            most_pop_itemPrice.append(df['Price'][item_iter])
            break

# Find Total Purchase Value
most_pop_totalPurchaseValue = list()
for i in range(5):
    count = df_by_pop_items['Purchase Count'][i]
    most_pop_totalPurchaseValue.append(count*most_pop_itemPrice[i])

# combining into a single table
pop_items_df = pd.DataFrame(df_by_pop_items[:5])
pop_items_df['Item ID'] = most_pop_itemIDs
pop_items_df['Item Price'] = most_pop_itemPrice
pop_items_df['Total Revenue'] = most_pop_totalPurchaseValue

pop_items_df = pop_items_df.style.format({'Item Price': '$ {:,.2f}','Total Revenue': '$ {:,.2f}'})
pop_items_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
# grouping
df_group_itemname = df.groupby(by='Item Name')
df_by_pop_items = pd.DataFrame(df_group_itemname['Price'].count().sort_values(ascending=False))
df_by_pop_items.rename(columns={'Price':'Purchase Count'},inplace=True)
df_by_pop_items.reset_index(inplace=True)

item_IDs = list()
item_value = list()
for item in df_by_pop_items['Item Name']:
    for item_iter in range(len(df['Item Name'])):
        if df['Item Name'][item_iter]==item:
            item_IDs.append(df['Item ID'][item_iter])
            item_value.append(df['Price'][item_iter])
            break
            
df_by_pop_items['Item ID'] = item_IDs
df_by_pop_items['Price']=item_value
df_by_pop_items['Total Revenue']=df_by_pop_items['Price']*df_by_pop_items['Purchase Count']
df_by_pop_items.sort_values(by='Total Revenue',ascending=False,inplace=True)
df_by_pop_items.reset_index(inplace=True)
df_by_pop_items.drop('index',axis=1,inplace=True)

# combining
most_profitable_df = pd.DataFrame(df_by_pop_items[:5])
most_profitable_df = most_profitable_df.style.format({'Price': '$ {:,.2f}','Total Revenue': '$ {:,.2f}'})
most_profitable_df